os:
 - linux
 - osx

language: go

go: "1.11.x"

go_import_path: github.com/dcos/dcos-cli

env:
 - NO_DOCKER=1 GO111MODULE=off

before_install:
 - go get -u github.com/golang/lint/golint

script:
 - make
 - make test
