body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#platforms, #architectures {
    display: inline-block;
    margin-top: 1.1em;
}

#binaries [name=names]
{
    display: inline-block;
    padding-bottom: 20px;
}

#binaries [name=versions]
{
    display: inline-block;
    padding-bottom: 20px;
}

#plugins [name=names] {
    display: inline-block;
    padding-bottom: 20px;
}

#plugins [name=versions] {
    display: inline-block;
    padding-bottom: 20px;
}
